/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@30!important;40!important;50!important;60!important;70!important;800&display=swap");
* {
  box-sizing: border-box!important;
}

body {
  margin: 0!important;
  padding: 0!important;
  font-family: "Open Sans", sans-serif!important;
}
 */
/* .navegacaoExemplo {
  width: 100%!important;
  height: 80px!important;
  background: #000fff!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  font-size: 25px!important;
  color: #fff!important;
  font-weight: 700!important;
}
 */
.rck-section {
  background-image: url(img/Plano-de-fundo-ultragaz.webp)!important;
  background-size: cover!important;
  padding: 0 20px 20px!important;
  color: #4e4e4e!important;
  border: #909090!important;
  height: 100vh!important;
}
.rck-section .rck-container {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%!important;
  height: auto!important;
  /* Texto Lateral */
  /* Etapa 1 */
  /* Etapa 2 */
}
.rck-section .rck-container .rck-box-text {
  color: #000fff!important;
  width: 100%!important;
  max-width: 500px!important;
}
.rck-section .rck-container .rck-box-text h2 {
  text-align: center!important;
  font-size: 20px!important;
  font-weight: 500!important;
}
.rck-section .rck-container .rck-box-text h2 strong {
  font-weight: 700!important;
}
.rck-section .rck-container .rck-box-text ul {
  display: none!important;
}
.rck-section .rck-container .rck-box-form {
  background: #ffffff!important;
  color: #909090!important;
  padding: 5px 20px!important;
  border-radius: 23px!important;
  width: 100%!important;
  max-width: 500px!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
}
.rck-section .rck-container .rck-box-form h2 {
  text-align: center!important;
  font-size: 16px!important;
  font-weight: 500!important;
  color: #4e4e4e!important;
}
.rck-section .rck-container .rck-box-form h2 strong {
  color: #000fff!important;
  font-weight: 700!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-etp {
  display: flex!important;
  justify-content: center!important;
  margin-bottom: 10px!important;
  width: 100%!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-etp .form-etp {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%!important;
  max-width: 120px!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-etp .form-etp .form-etp-one {
  font-size: 22px!important;
  font-weight: 700!important;
  background: #000fff!important;
  color: #fff!important;
  border-radius: 50%!important;
  width: 40px!important;
  height: 40px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  padding: 0!important;
  position: relative!important;
  z-index: 1000!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-etp .form-etp .form-etp-two {
  font-size: 22px!important;
  font-weight: 700!important;
  background: #d3d3d3!important;
  color: #fff!important;
  border-radius: 50%!important;
  width: 40px!important;
  height: 40px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  padding: 0!important;
  z-index: 1000!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-etp::after {
  content: ""!important;
  width: 150px!important;
  height: 3px!important;
  position: absolute!important;
  background: #d3d3d3!important;
  margin-top: 20px!important;
  z-index: 0!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-name {
  margin: 20px 0!important;
  margin-bottom: 0!important;
  display: flex!important;
  width: 100%!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-name input {
  width: 100%!important;
  height: 35px!important;
  margin-bottom: 10px!important;
  border: none!important;
  border-bottom: 1px solid #909090!important;
  font-size: 14px!important;
  font-weight: 700!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-name input:nth-child(1) {
  margin-right: 20px!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-contact {
  width: 100%!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-contact input {
  width: 100%!important;
  height: 35px!important;
  margin-bottom: 20px!important;
  border: none!important;
  border-bottom: 1px solid #909090!important;
  font-size: 14px!important;
  font-weight: 700!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-contact .rck-box-form-contact-tel {
  margin-bottom: 0!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass {
  text-align: center!important;
  margin: 20px 0!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass label {
  margin: 10px 0!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass .rck-box-form-ass-check {
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass .rck-box-form-ass-check input {
  width: 20px!important;
  height: 20px!important;
}
.rck-section .rck-container .rck-box-form .rck-next {
  width: 100%!important;
  max-width: 250px!important;
  height: 50px!important;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.42) 0%, rgba(0, 15, 255, 0.42) 100%), #000fff!important;
  border-radius: 9px!important;
  color: #fff!important;
  font-weight: 700!important;
  font-size: 22px!important;
  border: none!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  cursor: pointer!important;
}
.rck-section .rck-container .rck-box-form .rck-next svg {
  margin-left: 20px!important;
}
.rck-section .rck-container .rck-box-form p {
  text-align: center!important;
  font-size: 10px!important;
}
.rck-section .rck-container .rck-box-form-next {
  background: #ffffff!important;
  padding: 5px 20px!important;
  border-radius: 23px!important;
  width: 100%!important;
  max-width: 500px!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  height: auto!important;
  padding-bottom: 20px!important;
  display: none!important;
}
.rck-section .rck-container .rck-box-form-next h2 {
  text-align: center!important;
  font-size: 16px!important;
  font-weight: 500!important;
  color: #4e4e4e!important;
}
.rck-section .rck-container .rck-box-form-next h2 strong {
  color: #000fff!important;
  font-weight: 700!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-etp {
  display: flex!important;
  justify-content: center!important;
  margin-bottom: 30px!important;
  width: 100%!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-etp .form-etp {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%!important;
  max-width: 120px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-etp .form-etp .form-etp-one {
  font-size: 22px!important;
  font-weight: 700!important;
  background: #d3d3d3!important;
  color: #fff!important;
  border-radius: 50%!important;
  width: 40px!important;
  height: 40px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  padding: 0!important;
  position: relative!important;
  z-index: 1000!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-etp .form-etp .form-etp-two {
  font-size: 22px!important;
  font-weight: 700!important;
  background: #000fff!important;
  color: #fff!important;
  border-radius: 50%!important;
  width: 40px!important;
  height: 40px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  padding: 0!important;
  z-index: 1000!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-etp::after {
  content: ""!important;
  width: 150px!important;
  height: 3px!important;
  position: absolute!important;
  background: #d3d3d3!important;
  margin-top: 20px!important;
  z-index: 0!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-est {
  width: 100%!important;
  display: flex!important;
  align-items: center!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-est select {
  width: 100%!important;
  border: 1px solid #909090!important;
  color: #4e4e4e!important;
  border-radius: 6px!important;
  padding: 2px!important;
  margin-left: 10px!important;
  font-size: 18px!important;
  font-weight: 500!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-est select option {
  font-size: 12px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-dist {
  width: 100%!important;
  display: flex!important;
  align-items: center!important;
  margin: 20px 0!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-dist select {
  width: 100%!important;
  border: 1px solid #909090!important;
  color: #4e4e4e!important;
  border-radius: 6px!important;
  padding: 2px!important;
  margin-left: 10px!important;
  font-size: 18px!important;
  font-weight: 500!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-dist select option {
  font-size: 12px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-cust {
  width: 100%!important;
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
  margin: 0!important;
  font-size: 12px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-cust label {
  font-size: 16px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-cust select {
  width: 50%!important;
  border: 1px solid #909090!important;
  color: #4e4e4e!important;
  border-radius: 6px!important;
  padding: 2px!important;
  margin-left: 10px!important;
  font-size: 18px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-cust select option {
  font-size: 12px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send {
  display: flex!important;
  flex-direction: column!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  text-align: center!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp {
  width: 100%!important;
  height: 70px!important;
  margin: 10px 0!important;
  border-radius: 5px!important;
  border: 1px solid #909090!important;
  font-size: 12px!important;
  display: flex!important;
  flex-direction: row!important;
  padding: 5px!important;
  border-right: 1px solid #4e4e4e!important;
  align-items: center!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp svg {
  width: 65px!important;
  height: 50px!important;
  margin-bottom: 10px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp:nth-child(1) {
  margin-right: 10px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms {
  display: flex!important;
  flex-direction: column!important;
  align-items: flex-start!important;
  justify-content: center!important;
  margin-bottom: 10px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-t {
  display: flex!important;
  align-items: center!important;
  margin-bottom: 10px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-t label {
  font-size: 8px!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-act {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-act label {
  font-size: 8px!important;
  text-align: center!important;
}
.rck-section .rck-container .rck-box-form-next .rck-buttons {
  display: flex!important;
  width: 100%!important;
}
.rck-section .rck-container .rck-box-form-next .rck-buttons .rck-next {
  width: 100%!important;
  max-width: 250px!important;
  height: 40px!important;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.42) 0%, rgba(0, 15, 255, 0.42) 100%), #000fff!important;
  border-radius: 9px!important;
  color: #fff!important;
  font-weight: 700!important;
  font-size: 18px!important;
  border: none!important;
  display: flex!important;
  justify-content: space-around!important;
  align-items: center!important;
  cursor: pointer!important;
}
.rck-section .rck-container .rck-box-form-next .rck-buttons .rck-next:nth-child(2) {
  margin-left: 10px!important;
  cursor: pointer!important;
}
.rck-section .rck-container .rck-box-form-next p {
  text-align: center!important;
  font-size: 10px!important;
}

@media only screen and (min-width: 992px) {
  .rck-section {
    width: 100%!important;
    height: 100vh!important;
    display: flex!important;
    align-items: center!important;
  }
  .rck-section .rck-container {
    display: flex!important;
    flex-direction: row!important;
  }
  .rck-section .rck-container .rck-box-text h2 {
    font-size: 40px!important;
    text-align: start!important;
    width: 100%!important;
    max-width: 420px!important;
  }
  .rck-section .rck-container .rck-box-text ul {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    border: 1px solid #000fff!important;
    width: 100%!important;
    max-width: 410px!important;
    padding: 10px!important;
    border-radius: 10px!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass {
    margin: 10px 0!important;
    display: flex!important;
    align-items: center!important;
    width: 100%!important;
    flex-direction: row!important;
    justify-content: center!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send {
    display: flex!important;
    flex-direction: row!important;
    margin: 20px 0!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
    padding-right: 10px!important;
    border-right: 1px solid #909090!important;
    height: 120px!important;
    margin: 0!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp {
    width: 100px!important;
    height: 122px!important;
    margin: 20px 0!important;
    border-radius: 5px!important;
    border: 1px solid #909090!important;
    font-size: 12px!important;
    display: flex!important;
    flex-direction: column!important;
    padding: 5px!important;
    border-right: 1px solid #4e4e4e!important;
    align-items: center!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp svg {
    width: 50px!important;
    height: 50px!important;
    margin-bottom: 10px!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-opt .blocoExemp:nth-child(1) {
    margin-right: 10px!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms {
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-start!important;
    justify-content: center!important;
    padding: 0 10px!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-t {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 10px!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-t label {
    font-size: 12px!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-act {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-box-form-send .rck-send-terms .rck-send-terms-act label {
    font-size: 10px!important;
    text-align: center!important;
  }
}
@media only screen and (min-width: 1400px) {
  .rck-section .rck-container {
    display: flex!important;
    justify-content: space-evenly!important;
  }
  .rck-section .rck-container .rck-box-text h2 {
    font-size: 47px!important;
    text-align: start!important;
    width: 100%!important;
    max-width: 100%!important;
  }
  .rck-section .rck-container .rck-box-form h2 {
    font-size: 24px!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name {
    margin: 10px 0!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name input {
    font-size: 20px!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-contact input {
    font-size: 18px!important;
    margin-bottom: 20px!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass {
    margin: 10px 0!important;
    display: flex!important;
    align-items: center!important;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass input {
    font-size: 18px!important;
    margin: 20px 10px!important;
  }
  .rck-section .rck-container .rck-box-form-next h2 {
    text-align: center!important;
    font-size: 24px!important;
    font-weight: 500!important;
    color: #4e4e4e!important;
  }
  .rck-section .rck-container .rck-box-form-next .rck-buttons .rck-next {
    height: 50px!important;
  }
}
.et_pb_column .et_pb_column_1_2 .et_pb_column_11 .et_pb_css_mix_blend_mode_passthrough .et-last-child {
  display: none!important;
}

.et_pb_gutters3 .et_pb_column_1_2, .et_pb_gutters3.et_pb_row .et_pb_column_1_2 {
  width: 100%!important;
}

.et_pb_column_10 {
  border-right-width: none!important;
  border-right-color: none!important;
  padding-right: 0!important;
}

.et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column {
  margin-right: 0!important;
}/*# sourceMappingURL=style.css.map */