/* ULTRA - Formulario de cadastro na primeira dobra, versao A (passo unico) */

.optimize .et_pb_column_10 {
  border-width: 0px;
}

.optimize .et_pb_column.et_pb_column_11 {
  display:none;
}

@media (min-width: 981px){
  .optimize .et_pb_column.et_pb_column_10 {
    margin: 0 25%;
    padding: unset;
  }
}

.optimize .et_pb_text_9 {
  padding-top: unset!important;
}

/* Style do html */

.optimize div.et_pb_section.et_pb_section_1 {
  background-image: url(https://energia.ultragaz.com.br/wp-content/uploads/2023/05/Plano-de-fundo-ultragaz.webp) !important;
  background-size: cover;
}

.optimize div.et_pb_section.et_pb_section_2 {
  background-image: url(https://energia.ultragaz.com.br/wp-content/uploads/2023/05/Plano-de-fundo-ultragaz.webp) !important;
  background-size: cover;
}

.rck-section {
  color: #4E4E4E;
  border: #909090;
  height: auto;
  padding: 10% 5%;
}
.rck-section .rck-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.optimize div.wpforms-container-full {
    margin: unset;
}
.rck-section .rck-container .rck-box-text {
  color: #000FFF;
  width: 100%;
  max-width: 500px;
}
.rck-section .rck-container .rck-box-text h2 {
  color: #000FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}
.rck-section .rck-container .rck-box-text h2 strong {
  font-weight: 700;
}
.rck-section .rck-container .rck-box-text ul {
  display: none;
}
.rck-section .rck-container .rck-box-form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 23px;
  width: 100%;
  max-width: 500px;
}
.rck-section .rck-container .rck-box-form h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #4E4E4E;
  margin: 0 0 15px;
}
.rck-section .rck-container .rck-box-form h2 strong {
  color: #000FFF;
  font-weight: 700;
}
.rck-section .rck-container .rck-box-form .rck-box-form-name input {
  width: 100%;
  height: 35px;
  /* margin-bottom: 20px; */
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 14px;
  font-weight: 500;
}
.rck-section .rck-container .rck-box-form .rck-box-form-contact input {
  width: 100%;
  height: 35px;
  /* margin-bottom: 20px; */
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 14px;
  font-weight: 500;
}
.rck-section .rck-container .rck-box-form .rck-box-form-contact .rck-box-form-contact-tel {
  margin-bottom: 0;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass {
  text-align: center;
  padding: 15px 0;
}

.rck-section .rck-container .rck-box-form .rck-box-form-ass .rck-box-form-ass-check {
  display: flex;
  align-items: center;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass .rck-box-form-ass-check input {
  width: 20px;
  height: 20px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-ass .rck-box-form-ass-check input:nth-child(2) {
  margin-left: 20px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-est {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rck-section .rck-container .rck-box-form .rck-box-form-est select {
  width: 58%;
  border: 1px solid #909090;
  color: #4e4e4e;
  border-radius: 6px;
  padding: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}
.rck-section .rck-container .rck-box-form .rck-box-form-est select option {
  font-size: 12px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-dist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.rck-section .rck-container .rck-box-form .rck-box-form-dist select {
  width: 58%;
  border: 1px solid #909090;
  color: #4e4e4e;
  border-radius: 6px;
  padding: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}
.rck-section .rck-container .rck-box-form .rck-box-form-dist select option {
  font-size: 12px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-cust {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 12px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-cust label {
  font-size: 16px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-cust select {
  width: 58%;
  border: 1px solid #909090;
  color: #4e4e4e;
  border-radius: 6px;
  padding: 2px;
  margin-left: 10px;
  font-size: 14px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send {
  margin-bottom: 20px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp {
  width: 100px;
  height: 122px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #909090;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-right: 1px solid #4e4e4e;
  align-items: center;
  line-height: 15px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp svg {
  width: 65px;
  height: 50px;
  margin-bottom: 10px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp:nth-child(1) {
  margin-right: 10px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms {
  display: flex;
  flex-direction: column;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-t {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-t label {
  font-size: 12px;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-act {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-act label {
  font-size: 12px;
}
.rck-section .rck-container .rck-box-form #btnSubmit-rck-form {
  align-self: center;
  width: 80% !important;
  height: 50px;
  background-color: #000FFF!important;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.42) 0%, rgba(0, 15, 255, 0.42) 100%), #000FFF;
  border-radius: 9px !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  border: none !important;
  padding: unset !important;
}
.rck-section .rck-container .rck-box-form p {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .rck-section {
    width: 100%;
    min-height: 730px;
    display: flex;
    align-items: center;
    padding: 50px;
  }
  .rck-section .rck-container {
    display: flex;
    flex-direction: row;
  }
  .rck-section .rck-container .rck-box-text h2 {
    font-size: 40px;
    line-height: 45px;
    text-align: start;
    width: 100%;
    max-width: 420px;
  }
  .rck-section .rck-container .rck-box-text ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000fff;
    width: 100%;
    max-width: 410px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 15px;
    border-radius: 10px;
  }
  .rck-section .rck-container .rck-box-form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 23px;
    width: 100%;
    max-width: 500px;
  }
  .rck-section .rck-container .rck-box-form h2 {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name {
    display: flex;
    justify-content: space-between;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name .wpforms-field {
    width: 46%;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name input {
    width: 100%;
    margin-bottom: 0;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name input:nth-child(2) {
    /* margin-left: 20px; */
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-contact input {
    margin-bottom: 0;
  }

  .optimize div.wpforms-container-full .wpforms-form .wpforms-field.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .optimize div.wpforms-container-full .wpforms-form .wpforms-field.flex-row input {
    width: 80%;
  }

  .rck-section .rck-container .rck-box-form .rck-box-form-ass {
    text-align: center;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: baseline;
  }
  
.rck-section .rck-container .rck-box-form .rck-box-form-ass label {
  margin: unset;
}

  .rck-section .rck-container .rck-box-form .rck-box-form-est,
  .rck-section .rck-container .rck-box-form .rck-box-form-dist,
  .rck-section .rck-container .rck-box-form .rck-box-form-cust {
    align-items: baseline;
    padding: 10px 0;
  }

  .rck-section .rck-container .rck-box-form .rck-box-form-est select,
  .rck-section .rck-container .rck-box-form .rck-box-form-dist select,
  .rck-section .rck-container .rck-box-form .rck-box-form-cust select{
    width: 70%;
  }

  .rck-section .rck-container .rck-box-form .rck-box-form-dist {
  margin: unset;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-cust {
    margin: 0;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-cust .rck-box-form-cust-label {
    font-size: 16px;
    width: 40%;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-cust .rck-box-form-cust-select {
    width: 90%;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10px;
    border-right: 1px solid #909090;
    height: 120px;
    margin: 0;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp {
    width: 100px;
    height: 122px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #909090;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right: 1px solid #4e4e4e;
    align-items: center;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-opt .blocoExemp:nth-child(1) {
    margin-right: 10px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-t {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-t label {
    font-size: 12px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-send .rck-send-terms .rck-send-terms-act {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass input {
    margin: 20px 10px;
  }
}
@media only screen and (min-width: 1400px) {
  .rck-section .rck-container {
    display: flex;
    justify-content: space-evenly;
  }
  .rck-section .rck-container .rck-box-text h2 {
    font-size: 47px;
    line-height: 52px;
    text-align: start;
    width: 100%;
    max-width: 100%;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name {
    /* margin: 20px 0; */
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-name input {
    font-size: 14px;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-contact input {
    /* font-size: 18px; */
    /* margin-bottom: 20px; */
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass {
    /* margin: 10px 0; */
    display: flex;
    align-items: center;
  }
  .rck-section .rck-container .rck-box-form .rck-box-form-ass input {
    font-size: 18px;
    margin: 20px 10px;
  }
}